.nav_bar {
  color: #f6b72e;
  width: 100%;
  flex-direction: row;
  display: inline-flex;
  overflow: hidden;
  padding-bottom: 16px;
  padding-top: 46px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 178px;
  height: 185px;
}

.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_li {
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin: 15px;
  font-size: 24px;
  cursor: pointer;
}
