.footer {
  height: 666px;
  width: 100%;
  background-color: #2e3030;
  flex-direction: row;
  display: inline-flex;
}

.footer_container_left {
  width: 35%;
  height: 100%;
  flex-direction: column;
}
.description {
  margin-top: 140px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  text-align: justify;
  color: #f6b72e;
  padding-left: 86px;
}

.social {
  width: 100px;
  color: #f6b72e;
  padding-left: 86px;
  flex-direction: row;
  display: inline-flex;
  font-size: 24px;
  justify-content: space-between;
  padding-top: 90px;
  flex-direction: row;
}
.footer_container_right {
  width: 65%;
  height: 100%;
  margin-right: 60px;
  margin-left: 60px;
}

.footer_ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer_li {
  display: inline-block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  /* align-items: center;
  justify-content: center;
  display: inline-block;
  margin: 0 15px 0 15px; */
  font-size: 16px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  padding-top: 153px;
  color: #f6b72e;
}

.subscribe {
  padding: 60px 0px 26px 0px;
}

.text_logo_container {
  width: 100%;
  height: 229px;
  position: relative;
}
.text_logo {
  right: 0px;
  position: absolute;
}
