.button {
  width: 200;
  height: 140;
  background: #2e3030;
  box-shadow: 0px 0px 8px 8px #0f0f0f;
  border-radius: 60px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 42px;
  text-align: justify;
  color: #f6b72e;
}
