.first_banner {
  width: 100%;
  margin: 137px;
}

.small_title {
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 42px;
  color: #ffffff;
}

.title_span {
  color: #f6b72e;
}

.big_title {
  width: 50%;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 89px;
  color: #ffffff;
  margin-top: 33px;
}

.second_banner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.second_banner_row_1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second_banner_row_1_text {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 42px;
  text-align: justify;
  width: 50%;
}
.second_banner_row_2 {
  width: 50%;
  display: inline-flex;
  justify-content: end;
  align-items: end;
}
